* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    overflow: hidden; 
}

.mainDiv{
    width: 100%;
    gap: 5%; 
    height: 100%; 

}

.headingDiv{
    margin-left: 5%;
    margin-right:5%;
    min-height: 10%;
    display: flex;
    align-items: center;

}
.navBarDiv{
    background-color: #0D2335;
    width: 100%;
    height: 8%;   
    display: flex;
    align-items: center;
    
}


.logoDiv{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5%;
}

.logo{
height: 20px;
width: 100px;
}


.adminHistoryDiv{
    margin-left: 5%;
    margin-right:5%;
    height: 95%;
    width: 90%;
    display: flex;
    gap:1%;
}

.activityBoxContainer{
    height: 100%;
    width: 100%;
    overflow-y: auto;  
    direction: ltr;
     
}


.sortingDiv{
    height: 100%;
    width: 50%;
}


.backgroundDiv{
    height: 80%;
    border: solid 1px #137dd3;
    border-radius: 5px;
    display: flex;
    gap: 6rem;
    padding: 10px;  
    width: 100%;     
   
}
.activityBox{   
    background-color: #F2F5FA;
    border-radius: 5px;
    margin-top: 10px;
    width: 98%;
    display:flex;
    padding: 10px 20px;
    gap: 1rem; 

}

 
.activityBoxContainer::-webkit-scrollbar {
    width: 7px; 
    
}
.activityBoxContainer::-webkit-scrollbar-track {
    background: #ffffff; 
   
}
.activityBoxContainer::-webkit-scrollbar-thumb {
    background-color: #0D2335; 
    border-radius: 6px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #137dd3;
    border-radius: 8px;
    padding: 5px 10px;
    width: 100%;
    background-color: #fff;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #6c757d;
    width: 100%;
  }
  
  .search-input::placeholder {
    color: #a6b0b3;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #6c757d;
    font-size: 16px;
  }
  
  
  
  .search-button img {
    height:  18px;
    width: 18px;
  }
  
 .navBarDiv .userIcon{
    height: 30px;
    width: 30px;
 
  }

  .menuIcon{
    height: 20px;
    width: 20px;

  }

  .container {
    display: flex;
    justify-content: space-between; /* Space between the icons */
    align-items: center; /* Align items vertically */
}

.menuIcon{
    margin-left: 4rem;
}

.navBarDiv {
    display: flex;
    justify-content: space-between; /* Space between the icons */
    align-items: center; /* Align items vertically */
}


.menuIconDiv{
    display: flex;
    gap: 1rem;
}

.userIcon{
   margin-right: 5%;
}