*{
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat" , sans-serif;
}

.navigateBox{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navBarDiv{
    background-color: #0D2335;
    width: 100%;
    height: 50px;   
    display: flex;
    align-items: center;
    
}
.logoDiv{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5%;
}

.logo{
height: 20px;
width: 100px;
}

 .navBarDiv .userIcon{
    height: 30px;
    width: 30px;
 
  }

  .menuIcon{
    height: 20px;
    width: 20px;

  }

 

.menuIcon{
    margin-left: 4rem;
}

.navBarDiv {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.menuIconDiv{
    display: flex;
    gap: 1rem;
}

.userIcon{
   margin-right: 5%;
}
.container{
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
}
.leftSide{
    width: 676px;
    height: 500px;



}
.rightSide{
    width: 444px;
    margin-left: 18px;
}
.elements{
    display: flex;
    
    height: 40px;
    width: 95%;
    padding: 8px;
    margin: 10px;
    background-color: #F2F5FA;
    border-radius: 10px;
}

.leftSideBox{
    border: 1.5px solid #A1C3D1;
    border-radius: 10px;
    width: 100%;
    height: 450px;
    gap: 100px;
    overflow-y: auto;
    overflow-x: hidden;

}




.leftSideBox::-webkit-scrollbar {
    width: 7px; 
    
  }
  .leftSideBox::-webkit-scrollbar-track {
    background: #ffffff; 
   
  }
  .leftSideBox::-webkit-scrollbar-thumb {
    background-color: #0D2335; 
    border-radius: 6px;
  }
.downloadBtn{
    width: 100%;
    height: 44px;
    background-color: #8D99AE;
    border-radius: 10px;
    color: white;
    display: flex;
    gap: 300px;
    /* padding-top: 13px;
    padding-left: 8px; */
    align-items: center;
    justify-content: center;
   
}

.downloadbtndiv{
    /* padding-top: 269px; */
}

.downloadbtndiv img{
    padding-top: 0;
  
}
.fa-solid{
    color: #8D99AE;
    margin-left: 8px;
    margin-right: 3px;
}
.timeZone{
    display: flex;
    justify-content: space-between;
}
.discription{
    /* background-color: rgb(0, 255, 47); */
    height: 330px;
}
.responses{
    margin-bottom: 10px;

}
.lef{
    width: 70%;
    
}

.elements .fa-solid{
    margin-left: 0;

}
.righ{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 50px;

}