* {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 80vh;
}

.navigateBox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navBarDiv {
    background-color: #0D2335;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5%;
}

.logo {
    height: 20px;
    width: 100px;
}

.navBarDiv .userIcon {
    height: 30px;
    width: 30px;

}

.menuIcon {
    height: 20px;
    width: 20px;

}



.menuIcon {
    margin-left: 4rem;
}

.navBarDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIconDiv {
    display: flex;
    gap: 1rem;
}

.userIcon {
    margin-right: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-top,
.container-bottom {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 2rem;
}


.container-top {
    align-items: center;
    height: 24px;
    justify-content: flex-start;
}

.container-top .responses {
    display: flex;
    align-items: center;
    justify-content: center;
}



.leftSide {
    height: 100%;
    flex: 3;
    box-sizing: border-box;
    display: flex;

}

.rightSide {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 2;
    padding: 8px;
    background-color: #F2F5FA;
    border-radius: 8px;
    box-sizing: border-box;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 95%;
    padding: 8px;
    background-color: #F2F5FA;
    border-radius: 8px;
    margin-top: 8px;
}

.leftSideBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #A1C3D1;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll{
    width: 40%;
}

.leftSideBox::-webkit-scrollbar {
    width: 7px;
}

.leftSideBox::-webkit-scrollbar-track {
    background: #ffffff;

}

.leftSideBox::-webkit-scrollbar-thumb {
    background-color: #0D2335;
    border-radius: 6px;
}

.downloadbtndiv {
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    box-sizing: border-box;
}

.fa-solid {
    color: #8D99AE;
    margin-left: 8px;
    margin-right: 3px;
}

.timeZone {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.discription {
    /* background-color: rgb(0, 255, 47); */
    flex: 1;
    height: 100%;
}

.responses {
    margin-bottom: 10px;

}

.lef {
    width: 70%;

}

.elements .fa-solid {
    margin-left: 0;

}

.righ {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.not-selected {
    background-color: #f0f0f0;
    color: #3a3a3a;
}

h4 {
    font-size: 14px;
    margin-bottom: 4px;
}

h2{
    margin-bottom: 4px;
}

.lef p {
    font-size: 12px;
}

.D-black {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.D-black img {
    margin-left: 8px;
}

.D-black:hover {
    background-color: #1F3A5A;
}


.downloadbtndiv .top,
.downloadbtndiv .bottom {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.timezone-items {
    display: flex;
    background-color: #e9e9e9;
    padding: 4px 8px;
    border-radius: 8px;
}

.poll-description {
    flex: 2;
}


/* 30-10-2024 */

.nav-bar-div{
    background-color: #0D2335;
    width: 100%;
    height: 10%;   
    display: flex;
    align-items: center;
    
  }

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .title {
    margin-left: 1em;
    font-size: 1.2em;
  }
  
  .main-div{
    position: relative;
  }
  
  
  .sidebar {
   
    position: absolute;
    z-index: 2;
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    left: -25%;
    transition: left 0.3s;
    display: flex;
    flex-direction: column; 
    box-shadow: #001f2d;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    
  } 
  
  .sidebar h3{
    color: black;
  }
  
  .show{
    left: 0;
  }
  
  .menu-items ul{
    list-style-type: none; 
    padding: 0;          
    margin: 0; 
    padding-left: 5rem;  
    
  }
  
  .menu-items li{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: whitesmoke;
    
  }
  
  
  .logoDiv {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 15%;
  }
  
  .logo {
    height: 25px;
    width: 120px;
    display: block;
  }
  
  .menu-button {
  
    background: none;        
    border: none;             
    padding: 10px 10px;        
  
    cursor: pointer;          
    transition: 0.3s;  
     
  }
  
  .menu-button h3 {
    margin: 0;               
    color: black;            
  }
  a{
    text-decoration: none;
  }
  .menu-button:hover {
    background-color: #001f2d; 
    border-radius: 8px;
  }
  
  .menu-button:hover h3 {
    color: white;            
  }
  
  
  #fromDate, #toDate{
    background-color: #fff;
  }
