body {
  padding: 0px;
  margin: 0px;
  background-color: #EEEEEE;
  height: 100vh;
  overflow: hidden;
}

.logoImage {
  height: 20px;
  width: 100px;
  margin-left: 50px;
}

.pollHeading {
  margin-top: 31px;
  margin-left: 70px;
  color: #8061c3;
}

.poll-central-div {
  display: flex;
  flex-direction: row;
    border-radius: 8px;
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 30px;
    background-color: white;
    height: 420px;
    padding-left: 40px;
}

.poll-central-inner-div{
  display: flex;
  flex-direction: row;
}

.poll-central-left-div{
  width: 50%;
}

.poll-central-right-div{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: aqua;
}

.poll-description-container{
  width: 100%;
  max-height: 100%;
  background-color: rgba(128, 97, 195, 0.35);
  padding: 20px;
  border-radius: 8px;
}

.cast-poll-button button{
  border-radius: 8px;
  background-color: #8D99AE;
  width: 100%;
  color: #272626;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
}

.poll-central-left-div-inner{
  max-height: 65%;
  width: 90%;
  overflow-y: auto;
  margin-top: 0.5rem;

}
.poll-central-left-div
{
  max-height: 80%;
  width: 100%;
}
.poll-central-left-div-inner-container{
  margin-top: 1rem;
  height: 20%;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.poll-central-left-div-inner::-webkit-scrollbar {
  width: 7px;
  height: 10px; 
  
}
.poll-central-left-div-inner::-webkit-scrollbar-track {
  background: #ffffff; 
 
}
.poll-central-left-div-inner::-webkit-scrollbar-thumb {
  background-color: #0D2335; 
  border-radius: 6px;
}


.card {
  display: inline-block;
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1 0px 0px rgba(0, 0, 0, 1);
  background-color: white;
  max-height: 70%;
  
}

.card h2 {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin: 0;
  padding: 0;
}

.poll-central-right-div{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-right: 5rem;
  height: 80%;
}