body{
    padding: 0px;
    margin: 0px;
}

.navBar{
    background-color: #000000;
    width: 100vw;
    height: 68px;
    display: flex;
    align-items: center;
}

.logoImage{
    height: 20px;
    width: 100px;
    margin-left: 50px;
}

.pollHeading{
    margin-top: 31px;
    margin-left: 70px;
    color: #8061C3;
    font-size: 40;
}