* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bg1 {
    background-color: #3b5998;
}

.color1 {
    color: #0a0a0a;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../../assets/login/bg-login.svg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 350px;
    padding: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forgot-password-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.forgot-password-title {
    font-size: 20px;
    font-weight: 580;
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group input {
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #3b5998;
    width: 100%;
}

.reset-button {
    height: 45px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px #3b5998;
    text-align: center;
}

.reset-button:hover {
    background: #3b5998;
}

.back-to-login {
    text-align: center;
    margin-top: 20px;
}

.back-to-login a {
    color: #696969;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}

.error-reset-email {
    color: red;
    font-size: x-small;
    display: none;
    margin-top: 5px;
    margin-left: 6px;
}

.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    width: auto;
}

.message.success {
    background-color: #4CAF50;
    color: white;
}

.message.error {
    background-color: #f44336;
    color: white;
}