* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    overflow: hidden;

}

.heading {
    margin: 0 5rem;
    margin-top: 5rem
}

.main-container {
    /* background-color: red; */
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    gap: 2rem;
}

.main-container-left {
    /* background-color: #2684d1; */
    height: 80%;
    width: 70%;
}

.main-container-right {
    /* background-color: blueviolet; */
    width: 30%;
    height: 80%;

}

.main-container-left-date {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    #para{
        width: 9rem;
        display: flex;
        justify-content: end;
    }
    p{
        font-weight: 500;
        padding-bottom: 1rem;
    }
}

.main-container-left-date-tile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20%;
    height: 10%;
}

#description::placeholder, #title::placeholder {
    font-family: "Montserrat", sans-serif; /* Change to your desired font */
    
}

::placeholder {
    font-family: 'Montserrat', sans-serif; /* Change to your desired font */
   
}

#addButton {
    width: 50%;

}

/* button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1.5px solid #A1C3D1;
} */

.options-container {
    max-height: 65%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(148, 114, 76); */

}


/* .options-container-top { 
     background-color: #333333; 
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
     margin-bottom: 1rem; 
} */


.main-container-left .options-container {
    height: 100%;
    padding: 10px;
    flex-direction: column;
    /* border: 1.5px solid #0f5471; */
    border-radius: 8px;
    flex: 1;
}

.options-floating-button {
    width: 2rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.private-poll-toggle {
    display: flex;
    align-items: center;
}

.toggle-label {
    margin-left: 10px;
}

.option-item,
.options-container-bottom button {
    width: 98%
}

.options-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F5FA;
    /* border: 1.5px solid #0D2335; */
    color: #0D2335;
    font-weight: 800;
    height: 2rem;
    width: 10rem;

}

.option-item,
.recipient-item {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 5px;
}

.option-item img,
.recipient-item img {
    cursor: pointer;
    background-color: transparent;
    width: 24px;
    height: auto;

}

.option-item button,
.recipient-item button {
    padding: 5px;
}

.options-container-bottom {
    height: 60%;
    overflow-y: auto;
    flex: 1;
    /* background-color: darkblue;  */
    margin-bottom: 0.5rem;


}

.recipient-container-bottom {
    height: 70%;
    overflow-y: auto;
    flex: 1;
    /* background-color: darkblue;  */
    margin-bottom: 0.5rem;
}

.recipient-container-buttons {
    /* background-color: rgb(156, 19, 156); */
    height: 10%;
}

.options-container-bottom::-webkit-scrollbar {
    width: 7px;
}

.options-container-bottom::-webkit-scrollbar-track {
    background: #ffffff;
}

.options-container-bottom::-webkit-scrollbar-thumb {
    background-color: #0D2335;
    border-radius: 6px;
}

.recipients-container {
    height: 70%;
    /* background-color: rgb(83, 220, 20); */
}

/* #addRecipientButton {} */

.recipient-container-bottom::-webkit-scrollbar {
    width: 7px;

}

.recipient-container-bottom::-webkit-scrollbar-track {
    background: #ffffff;

}

.recipient-container-bottom::-webkit-scrollbar-thumb {
    background-color: #0D2335;
    border-radius: 6px;
}

.mainDiv {
    /* background-color: aqua; */
    width: 100%;
    gap: 5%;
    height: 100%;
}

.heading-div {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 10%;
    display: flex;
    align-items: center;

}

.navBarDiv {
    background-color: #0D2335;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;

}


.logoDiv {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5%;
}

.logo {
    height: 20px;
    width: 100px;
}

.navBarDiv .userIcon {
    height: 30px;
    width: 30px;

}

.menuIcon {
    height: 20px;
    width: 20px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    margin-left: 4rem;
}

.navBarDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIconDiv {
    display: flex;
    gap: 1rem;
}

.userIcon {
    margin-right: 5%;
}

.dropdown {
    width: 100%;
    padding: 10px;
    margin-top: 2%;
    background-color: #a3a9b8;
    color: white;
    border: none;
    border-radius: 8px 8px 8px 8px;
    appearance: none;
    cursor: pointer;
}

.dropdownContainer::after {
    right: 10px;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
}

.sortingDiv {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

}


.timePeriodContainer {
    height: 40%;
    width: 100%;
    border-radius: 8px;
    border: solid 1px #137dd3;
    margin-top: 2%;
}

.button-container {
    /* background-color: #137dd3; */
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 5%;
    gap: 0.5rem;
    height: 20%;

}

.cancel-button {
    padding: 10px;
    background-color: #a3a9b8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 50%;
    height: 70%;

}

/* .generateButton {
    padding: 10px 20px;
    background-color: #0c1e31;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;

  } */

.clearButton:hover,
.applyButton:hover {
    opacity: 0.9;
}

.clearButton:hover,
.applyButton:hover {
    opacity: 0.9;
}

.poll-options {
    /* background-color: coral; */
    min-height: 35%;
    display: flex;
    flex-direction: column;
}

.recipients-button-div {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding-bottom: 4%;
    /* background-color: aquamarine; */

}
.heading-option {
    padding-left: 0px;
}

.options-container-top {
    display: flex;
    align-items: center;
    gap: 18rem;
    padding: 10px;
    height: 15%;
}


#upload {
    position: relative;
    display: inline-block;
}

.custom-upload-button {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    background-color: #8D99AE;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    border: none;
    transition: background-color 0.3s ease;
    height: 28px;
}

.add-option-button-Container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-upload-button img {
    width: 18px;
    height: 18px;

}

.upload-import-button-container {
    display: flex;
    gap: 1rem;
}

#upload-options {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #001f2d;
}

input:checked+.slider:before {
    transform: translateX(18px);
}

a {
    text-decoration: none;
}

/* When checked, move the slider */
input:checked+.slider {
    background-color: #001f2d;
    /* Dark navy color */
}

/* Move the circle when the switch is checked */
input:checked+.slider:before {
    transform: translateX(18px);
}

a {
    text-decoration: none;
}

.toggle-and-cancel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}




.Button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    height: 24px;
    width: 1px;
    background-color: white;
}

.icon-copy {
    content: url('icons/tabler_copy.svg');
    font-size: 14px;
}
